body.application {
  /*background: #f2f2f2;*/
  padding: 20px 20px 0;
}
body.application > .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

body.application hr {
  border-color: #d7d7d7;
  margin: 10px 0;
}

.navbar-inverse {
  background-color: #3d4a57;
  border-color: #333;
}
.navbar-inverse .navbar-nav > li > a,
.navbar a.navbar-brand {
  color: #fbfbfb;
  text-decoration: none;
}

path {
  stroke: #fff;
  stroke-width: 1;
  stroke-dasharray: 1;
}

#neighborhoodPopover { 
  position: absolute;     
  text-align: center;         
  padding: 2px;       
  font: 12px sans-serif;    
  background: #fff; 
  border: 0px;    
  border-radius: 8px;     
  pointer-events: none;
  opacity: 0;     
}

input{
    position: absolute ;
    left: 630px;
    top: 100px;
}

/* .content_legend_reset{
  width:1000px;
  margin:0 auto;
  background:#FF69B4;
  background-color: pink !important;
}
.leftDiv1{
  float:left 
}
.rightDiv1{
  background:#FFC0CB;
  height:100px;
  margin-left:200px;
}  */

/* #reset_btn{
  position: absolute ;
  left: 30px;
  top: 250px;
} */

/* .selected{
  fill: #07fd28 ;
}

.pickup{
  fill: blue ;
}

.dropoff{
  fill: red ;
}

.reset_btn{
  position: absolute ;
  left: 30px;
  top: 250px;
} */
/* #selection_tips{
  position: absolute !important;
  left: 30px;
  top: 650px;
} */
