body.application {
  /* background: #f2f2f2; */
  padding: 20px 20px 0;
}
body.application > .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

body.application hr {
  border-color: #d7d7d7;
  margin: 10px 0;
}

.navbar-inverse {
  background-color: #3d4a57;
  border-color: #333;
}
.navbar-inverse .navbar-nav > li > a,
.navbar a.navbar-brand {
  color: #fbfbfb;
  text-decoration: none;
}

#neighborhoodPopover { 
  position: absolute;     
  text-align: center;         
  padding: 2px;       
  font: 12px sans-serif;    
  background: #fff; 
  border: 0px;    
  border-radius: 8px;     
  pointer-events: none;
  opacity: 0;     
}


#datepicker{
  position: absolute ;
  left: 700;
  top: 100px;
} 

/* .btn-toggle {
  top: 50%;
  transform: translateY(-50%);
} */

/* #hist_chart{
  position: absolute ;
  left: 700;
  top: 140px;
} */

/* #ts_chart{
  position: absolute ;
  left: 700;
  top: 150px;
}  */

/* #path.d3_timeseries.line{
  fill: black,

} */
